---
layout: default
---
<article class="article">
  <div class="text-center">
    <h1 class="article-title">
      {{ page.title }}
    </h1>
    <p class="article-meta">
      <span>
        <i class="fa-regular fa-calendar"></i>
        {{ page.date | date_to_string: "ordinal", "US" }}
      </span>
    {% if page.updated %}
      <span>
        <i class="fa-regular fa-calendar-check"></i>
        {{ page.updated }}
      </span>
    {% endif %}{% for category in page.categories %}
      <span class="text-capitalize">
        <i class="fa-regular fa-folder"></i>
        <a href="#">{{ category }}</a>
      </span>
    {% endfor %}
      <span>
        <i class="fa-regular fa-file-word"></i>
        <%- symbolsCount(page) %> <%= __('index.count') %> ≈ 
        <i class="fa-regular fa-clock"></i>
        <%- symbolsTime(page) %>
      </span>
      
    </p>
    
  </div>

{% if page.toc == true %}
  <div class="row toc-container">
    <div class="collapsible">
      <input id="collapsible" type="checkbox" name="collapsible" />
      <label for="collapsible">TOC</label>
      <div class="collapsible-body">
        {% include toc.html html=content %}
      </div>
    </div>
  </div>
{% endif %}{% if page.card %}
  <div class="card">
    <img src="{{ page.card.poster }}" alt="Poster" />

    <div class="card-body">
      <h4 class="card-title">{{ page.card.title }}</h4>
      <h5 class="card-subtitle">{{ page.card.released }}</h5>
      <p class="card-text">{{ page.card.details }}</p>
      <a class="paper-btn" href="{{ page.card.more }}">More</a>
    </div>
  </div>
{% endif %}

  {{ page.content }}

  
{% for tag in page.tags %}
  <span class="text-right">
    <i class="fa-solid fa-tag"></i>
    <a href="#">{{ tag }}</a>
  </span>
{% endfor %}
</article>

<div class="article-footer">
{% if site.diff_blog %}
  <section>
    <script
      id="diffblog-plugin-script"
      async="false"
      src="https://diff.blog/static/js/diffblog_plugin_v1.js"
    ></script>
    <script>
      document
        .getElementById("diffblog-plugin-script")
        .addEventListener("load", function () {
          DiffBlog("{{ site.diff_blog }}");
        });
    </script>
  </section>
{% endif %}{% include comments.html %}
</div>
